In [1]:
import pandas as pd

In [2]:
# id anger disgust fear joy sadness surprise
# label: 0 1 2 3 4 5

In [3]:
# AffectiveText
thresh = 20
def read1(tweet_fs, emotion_fs):
    texts = []
    labels = []
    
    for tweet_f, emotion_f in zip(tweet_fs, emotion_fs):
    
        fh1 = open(tweet_f, "r")
        fh2 = open(emotion_f, "r")
        L1 = fh1.readlines()
        L2 = fh2.readlines()

        lineNo = 0
    
    
        for line in L1:
            if not line.startswith("<instance"):
                continue 
            text = line.split(">")[1].split("<")[0]
            label_raw = L2[lineNo].strip().split(" ")[1:]

            texts.append(text)
            label_text = []
            for li, l in enumerate(label_raw):
                if int(l) >= thresh:
                    label_text.append(str(li))
            if len(label_text) > 0:
                labels.append(",".join(label_text))
            else:
                labels.append("6")
            lineNo += 1
    
    df = pd.DataFrame({'text': texts,
                   'label': labels})
    
    return df

tweet_f1 = "/raid/xiaoyuz1/goemotions/metaData/AffectiveText.test/affectivetext_test.xml"
emotion_f1 = "/raid/xiaoyuz1/goemotions/metaData/AffectiveText.test/affectivetext_test.emotions.gold"
tweet_f2 = "/raid/xiaoyuz1/goemotions/metaData/AffectiveText.trial/affectivetext_trial.xml"
emotion_f2 = "/raid/xiaoyuz1/goemotions/metaData/AffectiveText.trial/affectivetext_trial.emotions.gold"

df1 = read1([tweet_f1, tweet_f2], [emotion_f1, emotion_f2])
# df1.to_csv()

In [4]:
df1

                                                   text      label
0     Test to predict breast cancer relapse is approved          3
1     Two Hussein allies are hanged, Iraqi official ...      0,1,4
2                            Sights and sounds from CES          6
3                    Schuey sees Ferrari unveil new car        3,5
4     Closings and cancellations top advice on flu o...          2
...                                                 ...        ...
1245                  Amish killings school demolished   0,1,2,4,5
1246                  Pamuk wins Nobel Literature prize          3
1247                     Madonna adoption bid approved         3,5
1248                  Man admits UK-US terror bomb plot    0,1,2,4
1249                           Who are you calling fat?          6

[1250 rows x 2 columns]